aside
  .wrap
    .slider
    .profile
      h2.title Profile
      p.profile__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit sint eveniet voluptatibus est nisi minus eligendi dolores ducimus, ratione officiis corporis natus facilis vero quam pariatur dignissimos sit earum iste.
      ul.contacts
        li.contacts__item
          i.fa.fa-phone.contacts__icon.contact__icon--phone(aria-hidden="true")
          h3.contacts__header Phone
          p.contacts__description +7 (989) 123 32 12
        li.contacts__item
          i.fa.fa-envelope.contacts__icon.contact__icon--email(aria-hidden="true")
          h3.contacts__header Email
          p.contacts__description robert@gmail.com
        li.contacts__item
          i.fa.fa-globe.contacts__icon.contact__icon--globe(aria-hidden="true")
          h3.contacts__header Web
          p.contacts__description 
            a.contacts__link(href='www.robert.com') www.robert.com
        li.contacts__item
          i.fa.fa-map-marker.contacts__icon.contact__icon--marker(aria-hidden="true")
          h3.contacts__header Home
          p.contacts__description 24500, Belgium, Brussels, 27, BE
      h2.title Languages
      ul.language
        li.language__block 
          p.language__title English
          p.language__persent 100%
        li.language__block 
          p.language__title French
          p.language__persent 90%
        li.language__block 
          p.language__title Greak
          p.language__persent 80%
        .lines
          span.lines__line
          span.lines__line
          span.lines__line
