main
  .content
    header.header
      .logo
      h1.name_title rober smith
      p.proffesion web developer / designer
      p.addres 123 Street, 24058, Belgium, Brussels, Liutte 27, BE
      ul.contacts_small
        li
          |
          span t:
          | +7 (989) 123 32 12
        li
          |
          span e:
          | robert@gmail.com
        li
          |
          span w: 
          | www.robert.com
    .title_bl expirence
    ul.expirence
      li.expirence__header Hexogan web development company<br>jan 2016 - oct 2020
      p.expirence__info Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, cupiditate?
      li.expirence__header Budnet web designing and developing<br>oct 2016 - aug 2017
      p.expirence__info Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione esse a cum veritatis dicta ad nostrum quia expedita harum voluptas.
      li.expirence__header Hexogan web development company<br>jan 2016 - oct 2020
      p.expirence__info Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, cupiditate?
    .title_bl education
    ul.expirence
      li.expirence__header Hexogan web development company<br>jan 2016 - oct 2020
      p.expirence__info Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, cupiditate?
    .title_bl skills
    ul.skills
      li.skills__value wordpress
        .proc.proc__80pr
      li.skills__value html
        .proc.proc__60pr
      li.skills__value photoshop
        .proc.proc__90pr

        
  