@font-face {
    font-family: "open-sans-bold";
    src: url("../fonts/open-sans-bold.ttf") format("truetype"),
        url("../fonts/open-sans-bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: "roboto-light";
  src: url("../fonts/roboto-light.ttf") format("truetype"),
      url("../fonts/roboto-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

